# Публичный идентификатор приложения Яндекс OAuth.
VITE_YANDEX_CLIENT_ID=46564f36ea254c5da1a7717f0225a625

# Для локального прототипа адрес должен полностью совпадать с Redirect URI в Яндекс OAuth.
VITE_YANDEX_REDIRECT_URI=http://localhost:5173/auth/callback
